<app-titulo [titulo]="'Eventos'" [iconClass]="'fa facalendar'" [botaoListar]="true"></app-titulo>
<router-outlet></router-outlet>
<!--
<div class="card rounded shadowsm">
  <form>
    <div class="p3">
      <div class="formrow">
        <div class="formgroup colmd12">
          <label>Tema</label>
          <input type="text" class="formcontrol" placeholder="Insira o Tema">
        </div>
      </div>
      <div class="formrow">
        <div class="formgroup colmd8">
          <label>Local</label>
          <input type="text" class="formcontrol" placeholder="">
        </div>
        <div class="formgroup colmd4">
          <label>Data e Hora</label>
          <input type="datetime" class="formcontrol" placeholder="">
        </div>
      </div>
      <div class="formrow">
        <div class="formgroup colmd2">
          <label>Qtd Pessoas</label>
          <input type="text" class="formcontrol" placeholder="">
        </div>
        <div class="formgroup colmd4">
          <label>Telefone</label>
          <input type="text" class="formcontrol" placeholder="(000) 900000000">
        </div>
        <div class="formgroup colmd6">
          <label>Email</label>
          <input type="text" class="formcontrol" placeholder="email">
        </div>
      </div>
    </div>
    <div class="cardfooter">
      <div class="dflex">
        <button class="btn btnoutlinesecondary mrauto border">
          Cancelar Alteração
        </button>
        <button class="btn btnsuccess">
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div> -->
